<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Opening Lines</title>
</head>
<body>
      <form method="post">
            <p>Please enter a name for each player.</p>
            {% for player in range(1, number_of_players+1) %}
                <p><input name="Player {{player}}" placeholder="Player {{player}}" required></input></p>
            {% endfor %}
            <button type="submit" name="proceed" class="btn btn-success submit">Submit</button>
    </form>
</body>
</html>